header{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 5px;
}
nav{
    position: relative;
    margin: auto;
    width: 100%;
    height:auto;
    background: rgb(187, 237, 245);
}
nav ul{
    position:relative  ;
    margin: auto;
    width: 50%;
    text-align: none;

}
nav ul li{
display: inline-block;
width: 24%;
line-height: 50px;
list-style: none;
}

.button {
    background-color: rgb(16, 0, 121);
    color: white;
    width: 90px;
    height: 40px;
}
